.button-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.snowflake-container {
  display: flex;
  align-items: center;
}

.snowflake {
  width: 40px;
  height: 40px;
  background-image: url('./images/snowflake-png-transparent-17.png');
  background-size: cover;
}

.spin-animation {
  animation: spin 4s linear infinite;
  animation-iteration-count: 1;
}

.moveInLeft {
  animation: moveInLeft 2s ease-out; /* Applies the moveInLeft animation */
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.brackets {
  font-size: 20px;
  color: gray;
  margin: 0 5px; /* Adjust margin for brackets */
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
