@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.fromLeft {
  animation: moveInLeft 1.4s cubic-bezier(0.21, 1.11, 0.81, 0.99);
}

.fromRight {
  animation: moveInRight 1.4s cubic-bezier(0.21, 1.11, 0.81, 0.99);
}

.fromBottom {
  animation: moveInBottom 1s cubic-bezier(0.21, 1.11, 0.81, 0.99) backwards 1.8s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-showModal {
  animation: showModal 0.5s forwards ease-in-out;
}

.animate-hideModal {
  animation: hideModal 0.5s forwards ease-in-out;
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(-5px);
  }
}

@keyframes bounceOut {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes showModal {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
